APP_NAME=MedicalInventoryAPI
APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost:8000
TOKEN_TTL_HOURS=24

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=inventaris_medis
DB_USERNAME=username_db
DB_PASSWORD=password_db
DB_CHARSET=utf8mb4
